// bootstrap
@import "bootstrap/normalize.scss";
@import "bootstrap/mixins.scss";
@import "bootstrap/variables.scss";
@import "bootstrap/scaffolding.scss";
@import "bootstrap/grid.scss";
@import "bootstrap/buttons.scss";

// Colors
$neutral-dark: #666;
$neutral-light: lighten($neutral-dark, 30%);
$lt-grey: #F0F0F0;

// Breakpoints
$xs: $screen-xs-min;
$sm: $screen-sm-min;
$md: $screen-md-min;
$lg: $screen-lg-min;

