// bootstrap
@import "bootstrap/normalize.scss";
@import "bootstrap/mixins.scss";
@import "bootstrap/variables.scss";
@import "bootstrap/scaffolding.scss";
@import "bootstrap/grid.scss";
@import "bootstrap/buttons.scss";

// Colors

// Breakpoints
$xs: $screen-xs-min;
$sm: $screen-sm-min;
$md: $screen-md-min;
$lg: $screen-lg-min;

